<header
  class="section"
  [ngStyle]="{'background-image': 'url(' + backgroundUrl + ')'}"
  >
  <!-- [style.backgroundImage]="
  'url(https://galleries.page.link/Ejdra)'  
  " -->
  <!-- [ngStyle]="{'background-image': 'url(' + backgroundUrl + ')'}" -->
  <div class="section-content container-names">
    <div class="names-header">
      <!-- <div class="name-left">
        <h1></h1>
      </div> -->
      <!-- <div class="name-center">
        <h1>Alexander & Anabella</h1>
      </div> -->
      <!-- <div class="name-right">
        <h1></h1>
      </div> -->
      <div class="names-wedding">
        <h1>Alexander & Anabella</h1>
      </div>
    </div>
    
  </div>
</header>
<!-- <p class="quote"> -->
<!-- <p class="quote">
  "Y si alguno prevalece contra uno, dos le resistirán; y cordón de tres
  dobleces no se rompe pronto."
  <br>
  Eclesiastés 4:12
</p> -->
<!-- <p class="bible-verse">Eclesiastés 4:12</p> -->
<!-- <p class="invitation">Eclesiastés 4:12</p> -->
<!-- <p class="invitation">
  Tenemos el honor de invitarte a compartir nuestra alegría y celebrar el
  comienzo de nuestra nueva vida juntos.
</p> -->