header {
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  
  display: flex; /* Habilita el uso de flexbox */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  text-align: center; /* Alinea el texto al centro */
  
}
h1 {
  margin-bottom: 20px;
}
.bible-verse {
  margin-bottom: 20px;
}

.names-header {
  /* display: flex; */
  /* justify-content: space-between;  */
  margin-bottom: 20px; /* Ajusta la separación vertical si es necesario */
}

.name-left,
.name-center,
.name-right {
  width: 100%; /* Asegura que ambos ocupen toda la línea */
}

.name-center {
  text-align: center;
}

.name-left {
  text-align: left; /* Alinea a la izquierda */
}

.name-right {
  text-align: right; /* Alinea a la derecha */
}

.names-header h1 {
  font-size: 9rem; 
  margin: 0; 
}

.names-wedding {
  text-align: center;
  position: absolute;
  top: 240px;
  width: 100%;
}