header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* h1 {
  margin-bottom: 20px;
} */

.names-header {
  margin-bottom: 20px;
}

.names-header h1 {
  font-size: 6vw; /* Usamos vw para que el tamaño de fuente sea adaptable */
  margin: 0;
}

.names-wedding {
  text-align: center;
  position: absolute;
  top: 30vh; /* Usamos vh para que la posición sea proporcional a la altura de la pantalla */
  width: 100%;
}

@media (max-width: 768px) {
  header {
    height: 80vh; /* Reducimos la altura para pantallas medianas */
  }

  .names-header h1 {
    font-size: 7vw; /* Ajustamos el tamaño de fuente para pantallas medianas */
  }

  .names-wedding {
    top: 25vh; /* Ajustamos la posición del texto */
  }
}

@media (max-width: 480px) {
  header {
    height: 70vh; /* Reducimos aún más la altura para pantallas pequeñas */
  }

  .names-header h1 {
    font-size: 10vw; /* Reducimos el tamaño de fuente para pantallas pequeñas */
  }

  .names-wedding {
    top: 25vh; /* Ajustamos la posición del texto */
  }
}
