<section class="section" [style.backgroundImage]="'url(https://images.unsplash.com/photo-1511285560929-80b456fea0bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)'">
    <div class="section-content container">
      <h2>Nuestras Familias</h2>
      <h3>Nuestros Padres</h3>
      <div class="family-columns">
        <div class="family-column">
          <p>Otto Asdrúbal Gramajo Calderón </p> 
          <p>Olga Leticia De León de Gramajo</p>
        </div>
        <div class="family-column">
          <p>Israel Macario Coyoy </p> 
          <p>Marta Lidia García de Macario</p>
        </div>
      </div>
      <h3>Nuestros Padrinos</h3>
      <div class="family-columns">
        <div class="family-column">
          <p><strong>Civiles:</strong> </p> 
          <p>Josué Israel Macario García </p> 
          <p>Rebeca Lisbeth Méndez de Macario</p>
        </div>
        <div class="family-column">
          <p><strong>Religiosos:</strong> </p> 
          <p>Héctor Mesala Escobar Rodríguez </p> 
          <p>Erika Victoria Gramajo De León</p>
        </div>
      </div>
    </div>
  </section>