<section
  class="section"
  [style.backgroundImage]="
    'url(https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)'
  "
>
  <div class="section-content container">
    <p class="quote">
      "Y si alguno prevalece contra uno, dos le resistirán; y cordón de tres
      dobleces no se rompe pronto."
      <br />
      Eclesiastés 4:12
    </p>
    <!-- <p class="bible-verse">Eclesiastés 4:12</p> -->
    <!-- <p class="invitation">Eclesiastés 4:12</p> -->
    <p class="invitation">
      Tenemos el honor de invitarles a la Ceremonia Civil y seguidamente a la
      Bendición Matrimonial para celebrar el inicio de nuestra nueva vida juntos
    </p>
  </div>
</section>
